<h1>タスク登録フォーム</h1>
<% if flash[:notice]%>
  <% flash[:notice].each do |flash|%>
    <p><font color = "red"><%= flash %></font></p>
  <% end %>
<%end%>
<%= form_with model: @task, local: true do |form|%>
  <%= form.label "タスク名:" %><br>
  <%= form.text_field :title %><br><br>
  <%= form.label "タスクメモ:" %><br>
  <%= form.text_area :memo %><br>
  <p><%= form.label "状態:" %><br>
  <%= form.select(:status,[["下書き","draft"],["公開","published"],["アーカイブ","archieved"]])%></p>
  <p><%= form.submit "登録"%></p>
<% end %>
<%= link_to "一覧",tasks_path%>